URL="https://topradio-de-hz-fal-stream04-cluster01.radiohost.de/brf_mp3-128?mode=preroll&listenerid=bbd5e90e40ca421ca0c7235186bc4a1a&ref=homepage&amsparams=homepage"
STATIONNAME="Berliner Rundfunk 91.4 – Die besten Hits aller Zeiten"
