URL="https://bhs-live1-ais-relay1.leanstream.co/goldenwest/CHSNFM.stream/playlist.m3u8?args=app_02&downloadSessionID=0&listeningSessionID=60f036bd0089ce69_3974205_Fkz7O3Lj_NTEuMTYxLjEwNS4yMDI6ODAwMA%21%21_0000000gne2"
STATIONNAME="CHSN Sun 102"
