URL="https://cob-ais.leanstream.co/CKMBFM?args=web_01&aw_0_req.gdpr=false&awparams=companionAds%3Atrue&gdpr=false&listenerid=727b3d2a2aedc7f977bf5cbcb9a4b003&uid=ae4648ec-7c6c-49f9-985d-b4730b49aae2&user_hash=3w7GsUZ6kl7joYvvvJDNIIeJh8r22wS8"
STATIONNAME="CKMB 107.5 Kool FM"
