URL="http://51.81.49.98:8300/stream&lang=auto&codec=mp3&volume=75&tracking=false&skin=http://radio40.virtualtronics.com:2199/muses/muses-substream.xml&title=No%20Name&jsevents=false&welcome=&introurl=&autoplay=fals"
STATIONNAME="El Dorado Radio"
