URL="https://d131.rndfnk.com/ard/mdr/284320/0/mp3/128/stream.mp3?cid=01FBPZXA57C37S4VNZ987DHSAG&sid=2V7H8baFjYQSNaMnajwyGk2yeYN&token=vVHnt1bvDVZ2wkWu1u-Gy8JOpvZupaGpa82f1aLo5uI&tvf=HlvFUGoDgxdkMTMxLnJuZGZuay5jb20"
STATIONNAME="MDR JUMP"
