URL="https://radio.vrtcdn.be/vrt/radio2-limburg/live.m3u8?ola=true&contentType=LIVESTREAM&filter=%28%21%28type%3D%3D%22audio%22%26%26FourCC%21%3D%22AACL%22%29%29"
STATIONNAME="Radio 2 West-Vlaanderen"
