URL="http://oz01.xrn.com.au:8300/RbLohttp://oz01.xrn.com.au:8300/RbHihttp://oz01.xrn.com.au:80/RbLohttp://oz01.xrn.com.au:80/RbHihttp://198.74.49.203:8012https://radio.plegma.host/public/radio_bayside/playlist.pls"
STATIONNAME="B C V"
