URL="https://wz2liw.scahw.com.au/live/2bdr_128.stream/playlist.m3u8?listeningSessionID=646b7e9dfd83c3a2_159404_GCiQi4ue_MTAuNzAuMS4xOA!!_00000000Qls&downloadSessionID=0&dist=listnr-web&aw_0_1st.playerId=LiSTNR_Web_native&cb=965a04a0-fa21-11ed-8e14-93b64927f0f9"
STATIONNAME="Triple M The Border 105.7 FM"
