URL="https://d141.rndfnk.com/ard/ndr/njoy/live/mp3/128/stream.mp3?cid=01FBRKKTM6TVGA3B3W6Y8NMXK8&sid=2K8AGiNkv2TSZ3Su22AGapIbzLd&token=DsuV1mHdcTzfXc4xIoXHR4xc5KPbqmlVnBzXFzkTjpE&tvf=eznLe7v-OBdkMTQxLnJuZGZuay5jb20"
STATIONNAME="Njoy Hit 40 Medias One"
