URL="https://streamingp.shoutcast.com/Nostalgie80-aac?=&gdpr=1&gdpr_consent=CPlXqkAPlXqkAAHABBENCyCsAP_AAAAAAAAAJNtf_X__b3_r-_5___t0eY1f9_7__-0zjhfdl-8N3f_X_L8X_2M7vF36tq4KuR4ku3LBIUdlHPHcTUmw6okVrzPsbk2cr7NKJ7PEmnMbeydYGH9_n1_z-ZKY7___f_77__-__________-_f___5______f_V__97fn9_____9_P___9v__9__________3___97_H-AAAAkJABgACCTZKADAAEEmw0AGAAIJNioAMAAQSbKQAYAAgk2OgAwABBJshABgACCTYiADAAEEmxkAGAAIJNg.f_gAAAAAAAAA&lang=de-DE&accept-language=de-DE&userref=566s0o6898herds0ssr21s4jub&userid=566s0o6898herds0ssr21s4jub&___cb=339036613543087"
STATIONNAME="Nostalgie Belgique 80"
