URL="https://rogers-hls.leanstream.co/rogers/ott1061.stream/48k/playlist.m3u8?downloadSessionID=0&listeningSessionID=6037dba7009854c3_3951861_HvnlnUbV_NjYuNTUuOTMuMTE2OjgwMDA%21_0000000e5P1"
STATIONNAME="CHEZ 106.1 FM (CA Only)"
