URL="https://regiocast.streamabc.net/regc-radiobobnational5043365-mp3-192-2943705?sABC=65oo5rrp%231%235q29959ss02443s6no804s3374o73758%23ubzrcntr&mode=preroll&aw_0_1st.skey=1706778347&cb=7776563&aw_0_req.userConsentV2=CP5TLYAP5TLYAAFADBDEAlEgAAAAAAAAAAYgAAAAAACBoAMAAQQ5EQAYAAghyKgAwABBDkZABgACCHIA.YAAAAAAAAAAA&aw_0_1st.playerid=radiobob_web&listenerid=5d29959ff02443f6ab804f3374b73758&amsparams=playerid:homepage;skey:1706778348"
STATIONNAME="RADIO BOB! Der dunkle Parabelritter"
