*.sh.log
temp
tmp
*.tmp
*.log
*.log.1
*.log.2
*.log.3
*.log.4
*.log.5
*.log.6
*.log.7
*.log.8
*.asc
autoadb/autoadb.txt
fc/DEVICE.cfg
fc/LOCAL_DEVICES.cfg
fc/STATIC_DEVICES.cfg
fc/media/**/*.cfg
*.lastseen
*.pos
scraper/radio.net/**/*.txt
scraper/radio.net/**/*.txt.1
scraper/radio.net/**/*.html
null
