URL="https://widget.spreaker.com/player?show_id=3279340&theme=light&playlist=show&playlist-continuous=true&chapters-image=true&episode_image_position=left&hide-logo=true&hide-likes=true&hide-comments=false&hide-sharing=true&hide-download=false&color=eb144c"
STATIONNAME="Radio Ebenezer RD"
