URL="https://15123.live.streamtheworld.com/WFILAMAAC.aac?country=US&dist=salem-triton-widget&app-id=70f08f5b17ab4483a65e3db41e057e1e&app-name=Salem%20Web&tdsdk=js-2.9&swm=false&pname=tdwidgets&pversion=2.9&banners=300x250%2C728x90&burst-time=15&sbmid=6b807465-140c-4a3a-bbd4-4cd27b48367a"
STATIONNAME="WFIL AM 560"
