URL="https://stream-al.planetradio.co.uk/downtowncountry.aac?direct=true&listenerid=undefined&aw_0_1st.bauer_listenerid=undefined&aw_0_1st.playerid=BMUK_html5&aw_0_1st.skey=1672916605&aw_0_1st.bauer_loggedin=false"
STATIONNAME="Downtown Country"
