URL="https://strw1.openstream.co/385?aw_0_1st.collectionid%3D6439%26stationId%3D6439%26publisherId%3D205%26k%3D1654592866%26aw_0_azn.pcountry%3D%5B\"CA\"%5D%26aw_0_azn.planguage%3D%5B\"en\"%5D%26aw_0_azn.pgenre%3D%5B\"Jazz\"%2C\"Music\"%2C\"Blues\"%5D"
STATIONNAME="MANHATTAN JAZZ CLUB"
