URL="https://powersoundhitradio.stream.laut.fm/powersoundhitradio?ref=web-app&start_time=1688651641336&t302=2023-07-06_15-54-01&uuid=f2bc404b-04a2-416c-9dfe-83c90f38d135"
STATIONNAME="Power Sound Hitradio"
