URL="https://chmedia.streamabc.net/79-argovia-mp3-192-7765962?sABC=63o571o7%230%23pn2r371qn2r6889r711n0964068278nq%23puzrqvn-enqvb-jro&aw_0_req.userConsentV2=CPlDwJgPlDwJgAfD-BDECxCgAP_AAH_AAAQ4GHoB5C5EaCFCCGprIPkAAAEWQlAEQSAAAACAAgAAABAAAAQCEEAiAAQAAAAAABAAIAJAAAAACAAAAAAAIIAAABEAAAAAAAAAIABAAAAAAEAAAAAIAABgAAAAAAAIAAAAgAAACBh6AeQuRGghQghqayD5AAABFkJQBEEgAAAAgAIAAAAQAAAEAhBAIgAEAAAAAAAQACACQAAAAAgAAAAAACCAAAARAAAAAAAAACAAQAAAAABAAAAACAAAYAAAAAAACAAAAIAAAAgAAA&aw_0_1st.playerid=chmedia-radio-web&amsparams=playerid:chmedia-radio-web;skey:1672835511"
STATIONNAME="Argovia Lounge"
