URL="https://radio4.cdm-radio.com:18020/stream-mp3-Chill?aw_0_1st.playerId=Webplayer&aw_0_req.gdpr=true&awparams=companionAds%3Atrue&listenerid=19a752a14c28ed3258a07a00f9910b68"
STATIONNAME="Costa del Mar Chillout"
