URL="https://server2.sit-mexico.com:2199/proxy/xhbw?gdpr=1&gdpr_consent=CO5dhozO5dhozAcABBENBlCsAP_AAAAAACiQGewGwAMgAgABoAEWAJgAmgBSAC2AF8AUoAroB3AHeAU0As4BdYD9gP4ApsBeYC_4GGgYeAxGBiYGSgMngZSBlcDLQMugZgBmMDMwM5AZ6AAAAAAA.YAAAAAAAAAAA&mp=%2Fstream&us_privacy=1YNY"
STATIONNAME="Magia Digital 93.3 FM"
