URL="https://d141.rndfnk.com/ard/ndr/ndrkultur/live/mp3/128/stream.mp3?aggregator=web&cid=01FBQ2EJ6T7QK3WENQ5KT9S2FB&sid=2YlRIeq3TgnXQb6sdyZrdFyMfHO&token=j7XScLtnPkpG4LEyTIr3r6_ikdaOGDCfEYZkRy9Ro3k&tvf=7Lms0FqXmxdkMTQxLnJuZGZuay5jb20"
STATIONNAME="NDR Kultur – Philipps Playlist - Musikalische Gedankenreisen"
