URL="https://rs202-krk.rmfstream.pl/CLASSICROCK?aw_0_req.gdpr=true&aw_0_req.userConsentV2=CPVRPM5PVRPM5FKACAPLCDCsAP_AAEPAAB5YIltf_X__bX9j-_5_f_t0eY1P9_r3v-QzjhfNt-8F3L_W_L0X42E7NF36pq4KuR4Eu3LBIQNlHMHUTUmwaokVrzHsak2cpyNKJ7LEmnMZO2dYGHtPn9lDuYKY7_7___fz3j-v_t_-39T378X_3_d5_2---vCfV599zLv9____39nP___9v-_9_____4IhgEmGpeQBdiWODJtGlUKIEYVhIVAKACigGFoisAHBwU7KwCfUELABCagIwIgQYgowYBAAIBAEhEQEgBYIBEARAIAAQAowEIACJgEFgBYGAQACgGhYgBQACBIQZHBUcpgQESLRQS2ViCUFexphAGWWAFAojIqABEoQQLAyEhYOY4AkBLhZIFmKF8gAAAAA.YAAAD4AAAAAA&aw_0_1st.playerid=RMF_Player_JS_P&aw_0_1st.rmf_disable_preroll=true"
STATIONNAME="RMF Classic Rock"
