URL="https://streamingp.shoutcast.com/NostalgiePremium?=&gdpr=true&gdpr_consent=CPTcsUAPTcsUAAHABBENB_CsAP_AAAAAAAAAIhtf_X__b3_j-_5___t0eY1f9_7_v-0zjhfdt-8N3f_X_L8X_2M7vF36pq4KuR4Eu3LBIQVlHOHcTUmw6okVrzPsbk2cr7NKJ7PEmnMbe2dYGH9_n93T-ZKY7______7__-_______f__-_____5_3-_-_f_V_997Lv9_____9_P___9v__9____gAAAJCQAYAAgiGSgAwABBEMNABgACCIYqADAAEEQykAGAAIIhjoAMAAQRDIQAYAAgiGIgAwABBEMZABgACCIYAAA.f_gAAAAAAAAA&lang=de-DE&accept-language=de-DE&userref=RI6iokyTCj1643281864612&userrid=RI6iokyTCj1643281864612&___cb=765189827570541"
STATIONNAME="Nostalgie Belgique 60"
