URL="https://www.streamcontrol.net:8444/s/14010/https://www.streamcontrol.net:8444/s/14020/https://www.streamcontrol.net:8444/s/14030/https://www.streamcontrol.net:8444/s/14040/https://www.streamcontrol.net:8444/s/16510/stream/1/"
STATIONNAME="Pedraza Estereo"
