URL="https://us-b5-p-e-kj2-audio.cdn.mdstrm.com/live-audio/5c0efabde4c87f3f2d3e8036/5de7fdb07e2fde0798203821/playlist.m3u8?aid=5c0efabde4c87f3f2d3e8036&pid=VhXyqLazRwpqoHHetlppMCFIwzWqspEw&sid=8B9EcEZrHrG7ahQqgmlQH24UkIf00pVF&uid=F1XuPWcZ1l9uUD5AONn5Hso7eHZk1LRb&es=us-b5-p-e-kj2-audio.cdn.mdstrm.com&ote=1666353952741&ot=tjljSNphGhDxq7zDJFIxeg&proto=https&pz=us&cP=128000"
STATIONNAME="Rockeros VIP"
