URL="https://us-b5-p-e-wo1-audio.cdn.mdstrm.com/live-audio/580a72fc0c1f207c4c1d2bf8/5e7d00bf57988307b310abff/playlist.m3u8?aid=580a72fc0c1f207c4c1d2bf8&dnt=true&pid=UIVMjUzQKdxcVQHKxUpXX0iMUFJiIiBm&sid=8B9EcEZrHrG7ahQqgmlQH24UkIf00pVF&uid=F1XuPWcZ1l9uUD5AONn5Hso7eHZk1LRb&es=us-b5-p-e-wo1-audio.cdn.mdstrm.com&ote=1666354052224&ot=HGLpd3Julgtp6e4vTtS7HQ&proto=https&pz=us&cP=128000"
STATIONNAME="Ukhozi FM"
