URL="https://play10.tikast.com/proxy/cscharr2?mp=/stream%3E%20%3C/audio%3E%3C/div%3E%3C/div%3E%3C/div%3E%3C/div%3E%3C/div%3E%3C/aside%3E%3C/div%3E%3C/div%3E%3C/div%3E%3C/div%3E%3C/div%3E%3Cdiv%20class="
STATIONNAME="Urbana 94.3 FM"
