URL="https://topradio-de-hz-fal-stream02-cluster01.radiohost.de/kissfm_mp3-192?mode=preroll&listenerid=649830354db44ad88dab439202c488e0&ref=homepage&amsparams=homepage"
STATIONNAME="KISS FM – DANCE, ELECTRO & HOUSE BEATS"
