URL="https://ais-arn.streamguys1.com/au_002/playlist.m3u8?clienttype=web&downloadSessionID=0&iheart=true&listeningSessionID=5ea8533e81f1042d_839578_7am7nbYC_MjA0LjkzLjI1NC4xMzY%21_00000009oPG"
STATIONNAME="101.7 WSFM"
