URL="https://ais-sa1.streamon.fm/7653_128k.aac/playlist.m3u8?aw_0_1st.playerid=esPlayer&aw_0_1st.skey=1642182273&downloadSessionID=0&listenerId=esAdblock055271&listeningSessionID=61d50ce200d7e5bc_829858_izomGV91_MjE2LjIzNS45MC4xNTA6ODA%21_000000150rS"
STATIONNAME="Brian FM Ashburton"
