URL="https://sdmedia.playser.cadenaser.com/2023/8/15/cadenaser_jerez_de_la_frontera_hoyporhoymatinaljerez_20230815_082005_083000.mp3?dist=cadenaser-web-tod-permanente&stid=115323&gdpr=true&gdpr_consent=CPuvhMAPuvhMAAHABBENDNCsAP_AAE7AAAAAJitf_X__b3_r-_7___t0eY1f9_7__-0zjhfdl-8N3f_X_L8X_2M7vF36tq4KuR4ku3LBIUdlHPHcTVmw6okVrzPsbk2cr7NKJ7PEmnMbc2dYGH97n9_z-ZKY7___f__7__-____9_____-_____5__-___f_V_-97fn9_____9_P___9v__9__________3____7_D_-f_-7_WAAAAklABgACCYoaADAAEExRUAGAAIJilIAMAAQTFHQAYAAgmKQgAwABBMUJABgACCYoiADAAEExRkAGAAIJigA.f_gACdgAAAAA"
STATIONNAME="Cadena SER Jerez"
