URL="https://us-b4-p-e-zs14-audio.cdn.mdstrm.com/live-audio/601dd58c5fcd44672749652a/601de1cd07ba40129dbcd35e/icecast.audio?aid=601dd58c5fcd44672749652a&pid=LXNOLxQPSPW0zjCyDtRmqBL3LGFekHXq&sid=8B9EcEZrHrG7ahQqgmlQH24UkIf00pVF&uid=F1XuPWcZ1l9uUD5AONn5Hso7eHZk1LRb&es=us-b4-p-e-zs14-audio.cdn.mdstrm.com&ote=1666354224309&ot=Fue96elHfdESHKQi4DLeQA&proto=https&pz=us&cP=128000"
STATIONNAME="Radio Cantareira"
