URL="https://radiowuppertal--di--nacs-ais-lgc--03--cdn.cast.addradio.de/radiowuppertal/live/mp3/high?ar-distributor=ffa0&_art=dj0yJmlwPTIxNy43LjE5Ni4zNSZpZD1pY3NjeGwtN2lrZWFzaW1iJnQ9MTY2NzU2NDAwMSZzPTc4NjZmMjljIzIyNTI5ZjBhNjc4NWFlNTVmZWIyMjc1OTMxNmI2Mzc4"
STATIONNAME="Radio Wuppertal - Dein Weihnachts Radio"
