URL="https://us-b4-p-e-zs14-audio.cdn.mdstrm.com/live-audio-aw/5eebd56d74f62407a5cd6b62/playlist.m3u8?aid=5d409041e10de808a34fce18&pid=G6tEp8HDjX6NLWOmNkrUZGusNUh7Lq5P&sid=8B9EcEZrHrG7ahQqgmlQH24UkIf00pVF&uid=F1XuPWcZ1l9uUD5AONn5Hso7eHZk1LRb&es=us-b4-p-e-zs14-audio.cdn.mdstrm.com&ote=1666353905284&ot=xf4xt_6hqZUqwzvxfdS9EA&proto=https&pz=us&cP=128000&awCollectionId=5d409041e10de808a34fce18&liveId=5eebd56d74f62407a5cd6b62"
STATIONNAME="RPR1. Ed Sheeran"
