URL="https://audiotainment-sw.streamabc.net/atsw-rpr1webradio-aac-128-8604678?sABC=636r11qq%230%23p4pn4nno570o8r4s97sqo4p28327356s%23&aw_0_1st.playerid=&amsparams=playerid:;skey:1668157917"
STATIONNAME="RPR1. Hits für Kids"
