URL="https://us-b4-p-e-cg11-audio.cdn.mdstrm.com/live-audio-aw/5eed1f402a71ff071938abc2/playlist.m3u8?aid=5d409041e10de808a34fce18&pid=Yk8sCdwctbhf8zXOEeYWBPBXwQFTLIh3&sid=8B9EcEZrHrG7ahQqgmlQH24UkIf00pVF&uid=F1XuPWcZ1l9uUD5AONn5Hso7eHZk1LRb&es=us-b4-p-e-cg11-audio.cdn.mdstrm.com&ote=1666354065897&ot=cZMlqUtRFAw2CE2vNAinTw&proto=https&pz=us&cP=128000&awCollectionId=5d409041e10de808a34fce18&liveId=5eed1f402a71ff071938abc2"
STATIONNAME="WANM 90.5"
