URL="https://strw1.openstream.co/749?aw_0_1st.collectionid%3D3312%26stationId%3D3312%26publisherId%3D773%26k%3D1666267764%26aw_0_azn.pcountry%3D%5B\"US\"%2C\"IE\"%2C\"GB\"%2C\"DE\"%2C\"NL\"%2C\"RU\"%2C\"FR\"%5D%26aw_0_azn.planguage%3D%5B\"en\"%2C\"de\"%2C\"fr\"%2C\"es\"%5D%26aw_0_azn.pgenre%3D%5B\"Oldies\"%5D"
STATIONNAME="60XL Radio"
