URL="https://streams.barbaradio.de/live/mp3-192/homepage/?context=fHA6LTE%3D&aw_0_1st.skey=1689939729&cb=742839856&listenerid=1ea0611551884519a82de0b7ab51bcd5"
STATIONNAME="& Dinnerparty. Von barba radio"
