URL="https://jazzfm91.streamb.live/SB00009?args=web_02&player_type=popup&uid=4915ac7f-bd26-4a42-8bd6-3eea2925cba9&user_hash=tiXy1MYBBnPhfyBXw0JwUrGI4z9WuQ2o&gdpr=false&aw_0_req.gdpr=false"
STATIONNAME="CJRT JAZZ.FM91 Oscar Peterson"
