URL="https://streamdb9web.securenetsystems.net/cirrusencore/index.cfm?stationcallsign=REVRADIO&playSessionID=CECC66D8-B80F-47E1-D71C49A2228A1DDA&embedOpened=true&embedOpenedApp=song&embedOpenedSong=guilty%20hands&embedOpenedArtist=nine%20lashes&embedOpenedAlbu"
STATIONNAME="Revocation Radio 88.1 FM"
