URL="https://17843.live.streamtheworld.com/2CCAAC.aac?dist=triton-widget&tdsdk=js-2.9&swm=false&pname=tdwidgets&pversion=2.9&banners=none&burst-time=15&sbmid=c4e2eab1-d8d1-4302-dc4b-4e0e39e021b4"
STATIONNAME="2CC Talking Canberra 1206 AM"
