URL="https://22983.live.streamtheworld.com/3AWAAC.aac?dist=nine_radio&agent-device-family=computer&tdsdk=js-2.9&swm=false&pname=TDSdk&pversion=2.9&banners=none&burst-time=15&sbmid=54a4f974-1c70-4456-b8dc-7696a1ca4cbd"
STATIONNAME="3AW News Talk 693 AM"
