URL="https://23203.live.streamtheworld.com/3AWAAC.aac?dist=nine_radio&agent-device-family=computer&tdsdk=js-2.9&pname=TDSdk&pversion=2.9&banners=none&sbmid=6a99f7ce-cddb-4996-ef70-ee5d9f3c5b0c"
STATIONNAME="3AW News Talk 693 AM"
