URL="https://1radio.gscdn.kbs.co.kr/1radio_192_4.m3u8?Expires=1669465104&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly8xcmFkaW8uZ3NjZG4ua2JzLmNvLmtyLzFyYWRpb18xOTJfNC5tM3U4IiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjY5NDY1MTA0fX19XX0_&Signature=dPUJYG6hcUsrMagAEDMWL~Wnd9lzGvixPRinWrBBAAV-f5FfebKQnqY91Zyrzawl3r3zt9QcXxQ~7PXQMPVcDkDkr5TSKJa-V2zqPA5N8EK-MyPFS8THi3TCXv1xgFaCZvlCdTwsP3TZ8hltjlGpqh0-bjiYdkrZz-jKKho9bLohi-iA6DHqMd-mOVkgE4wl8tk35EaYQ9ZMhJXMlOZnXHBSU4AX1CmWL5WDW0j9Bn5AyxArY-w6ojCq7oMuKbpBofvqkKz4Abn8p0DC5t8dcGzUJuvw21KWOV8LABjivM8GyM7T3x~rXCUehJghXdV1esCA3r579OxoqCfFKAaPMg__&Key-Pair-Id=APKAICDSGT3Y7IXGJ3TA"
STATIONNAME="KBS 1 Radio - KBS라디오1"
