URL="https://stream.revma.ihrhls.com/zc1209/hls.m3u8?streamid=1209&zip=&aw_0_1st.playerid=iHeartRadioWebPlayer&aw_0_1st.skey=5728875385&clientType=web&companionAds=false&deviceName=web-mobile&dist=iheart&host=webapp.US&listenerId=&playedFrom=157&pname=live_profile&profileId=5728875385&stationid=1209&terminalId=159&territory=US"
STATIONNAME="KFAR 660 AM"
