URL="https://mdstrm.com/audio/61e1dfd2658baf082814e25d/live.m3u8?_=1647526387661&an=lightning-player&at=web-&dnt=true&pid=v7dwa5OqOFwzTEGUofQrDNeKClSCcdZP&player=61f304af5402e4092919fe48&sid=kYltZCNzmBUhIzRFtHlH7u8XlyzdLYVn&uid=QPittsvUmjlRb92WLyvFJSVjGmaeSDrf"
STATIONNAME="Radio Fórmula 104.1 FM"
