URL="https://sbs-podcast.streamguys1.com/sbs-portuguese/20220328194300-portuguese_c1d3e606-df84-462d-abd4-fdecfc1a8295.mp3?awCollectionId=sbs-portuguese&awEpisodeId=20220328194300-portuguese_c1d3e606-df84-462d-abd4-fdecfc1a8295&awGenre=News"
STATIONNAME="San Diego Radio Korea"
