URL="https://prod-54-225-45-144.amperwave.net/audacy-weeifmaac-hlsc.m3u8/?apv=a2&streamsource=Amperwave&dist=Audacy&source=webA2&c_user_id=f8k%3A41e0bf21b92f7e6d8060313d54627f12&deviceid=app%3Af8k%3A41e0bf21b92f7e6d8060313d54627f12&newMeta=true&t_partner_ids=dW5kZWZpbmVk&z=ff9abe320e154595a816aac6e1d00471&p=1"
STATIONNAME="WEEI 93.7 FM - Boston Sports News"
