URL="https://cdnamd-hls-globecast.akamaized.net/live/ramdisk/la_voix_du_sahel/radio_hls/hdntl-_-ZXhwPTE2NTAwMzA4OTF+YWNsPSUyZmxpdmUlMmZyYW1kaXNrJTJmbGFfdm9peF9kdV9zYWhlbCUyZnJhZGlvX2hscyUyZip+aG1hYz1kM2MwOWNjMzE5Yjg5MDNjOGE2MmFhZGJlODUxNmMzM2EyMWM2NjE0M2U2M2ZjOTQxNWZjMjA0NzEwMzlhNzVl/index.m3u8"
STATIONNAME="ORTN – Radio Voix du Sahel"
