URL="https://wr08-ice.stream.khz.se/wr08_mp3?listenerid=fbb375c5974e8f1142cbf55fe889af2e&awparams=companionAds%3Atrue&platform=web&aw_0_1st.playerid=mtgradio-web&aw_0_1st.skey=1557489999"
STATIONNAME="Soul Classics"
